body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    background-color: white;
    padding: 30px;
}


.display {
    font-size: 5rem;
    margin-bottom: 25px;
}

.buttons {
    margin: auto;
    text-align: center;
}

.buttons button {
    font-size: 1.5rem;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}


